@import url("https://fonts.googleapis.com/css?family=Roboto");
$bgcolorFirst: #e6e6e6;
$bgcolorSecond: #f2f2f2;
$bgheader: #6b0000;
$bghover: #744949;
$bgfooter: #333333;
$color: #ffffff;
$font-size: 17px;
$font-weight: 700;
$font-family: "Roboto", sans-serif;
